ImportManager/SampleData/Importations/Importations.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.Importations" targetNamespace="Expression.Blend.SampleData.Importations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Importations" type="tns:Importations" />
  <xs:complexType name="Importations">
    <xs:sequence>
      <xs:element name="ImportationsList" type="tns:ImportationsList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportationsList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ImportationsListItem" type="tns:ImportationsListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportationsListItem">
    <xs:attribute blend:FormatParameters="6" name="NumImport" type="xs:double" />
    <xs:attribute blend:Format="Date" name="DateCreation" type="xs:string" />
    <xs:attribute blend:Format="Company Name" name="Fournisseur" type="xs:string" />
  </xs:complexType>
</xs:schema>